{% extends "layout.html" %}
{% block title %}Create new user{% endblock %}
{% block content %}

<title>Front page</title>
<h1>Login page</h1>
<b>Welcome to use</b> <i>the app!</i>!
<br>
You can login here. If you do not have a username yet, you can create one.
<form action="/" method="POST">
    Username: <input type="text" name="username"> <br>
    <p>
    Password: <input type="password" name="password"> <br>
    <p>
    <input type="submit" value="Login">
    <p> ##testirivi
    Testiinput: <input type="text" name="sana"> <br> ##testirivi
    <input type="submit" value="Testi_input"> ##testirivi
    </form>

{% endblock %}