{% extends "layout.html" %}
{% block title %}Frontpage{% endblock %}
{% block content %}

<title>Frontpage</title>
<h1>List of products</h1>
Here is a list of all of our products. Please select the one for which you would like to provide your improvement idea.
<p>
<form action="/frontpage" method="POST">
<table>
  <tr>
    <th>Selection</th>
    <th>Product</th>
    <th>In selection since</th>
    <th>In selection until</th>
  </tr>
  {% for product in products %}
  <tr>
    <td><input type="radio" name="product" checked value="{{ product[0] }}"/></td>
    <td>{{ product[1] }} </td>
    <td>{{ product[2] }}</td>
    <td>{{ product[3] }}</td>
  </tr>
  {% endfor %}
</table>
<p>
<input type="submit" name="action" value="Share your improvement idea">
<p>
<input type="submit" name="action" value="View raised ideas for the selected product">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

Thank you for your input!
<p>
<b>Up to date we have received {{ number_of_ideas[0] }} improvement ideas based on which we have initiated {{ number_of_projects[0] }} product improvement projects.</b>

{% endblock %}