{% extends "layout.html" %}
{% block title %}Create new user{% endblock %}
{% block content %}

<title>Idea</title>
<h1>Share your idea</h1>
You selected <b>{{ sel[0] }}</b>. Please write your improvement idea below.
<p>
If you want to return to the <b>list of products</b>, click <a href="/frontpage"><b>here</b></a>.
<p>        
<form action="/idea/{{selected_prod_id}}" method="POST" onsubmit="return check(this)">
Idea: <br>
<textarea name="idea" rows="5" cols="100">
</textarea>
<input type="hidden" name="datum" value="CURRENT_DATE">
<input type="hidden" name="visible" value=True>
<p>
<input type="submit" value="Send">
</form>

Thank you for sharing.

<script>
    function check(form) {
        if (form.idea.value.length > 500) {
            alert("The text is too long. Use max. 500 letters.");
            return false;
        }
        return True;
    }
</script>
{% endblock %}