{% extends "layout.html" %}
{% block title %}List of ideas initiate project{% endblock %}
{% block content %}

<title>List of ideas initiate project</title>
<h1>Initiate a project based on a raised idea</h1>
You can initiate a project on this page. First, please select the (one) idea from the list, which you want to improve and initiate a project for.
Second, add team information on the project site by clicking the button below.
<p>
<form action="/ideas_project" method="POST">
<input type="submit" value="Add team information">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<p>
<table>
  <tr>
    <th>Selection</th>
    <th>Product</th>
    <th>Idea</th>
    <th>Date</th>
  </tr>
  {% for idea in list_of_ideas %}
  <tr>
    <td><input type="radio" name="idea" checked value="{{ idea[0] }}"></td>
    <td>{{ idea[1][0] }}</td>
    <td>{{ idea[2] }}</td>
    <td>{{ idea[3] }}</td>
  </tr>
  {% endfor %}
</table>
</form>

{% endblock %}