<!doctype html>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>App to Accelerate Product Improvement - {% block title %}{% endblock %}</title>

<body>
    <p>
    <div class="header">
        <h1><img src="/static/app_logo3.jpg" alt="Picture of the app logo"/>  App for Product Improvement</h1>
    </div>

    <nav>
        {% if session.user_id %}
        <ul>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/frontpage">Products</a></li>
          <li><a href="/list_of_ideas">Ideas</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/navigator">App structure</a></li>
        {% else %} 
          <li><a href="/create_username">Create username</a></li>
          <li><a href="/">Login</a></li>
        {% endif %}
        </ul> 
    </nav>

    <div class="content">
      <hr>
      {% block content %}{% endblock %}
      <hr>
    </div>

</body>