{% extends "layout.html" %}
{% block title %}Create new user{% endblock %}
{% block content %}

<title>Login page</title>
<h1>Login page</h1>
<b>Welcome to use</b> <i>the app!</i>
<p>
<form action="/" method="POST">

</form>
<p>
<form action="/" method="POST">
    Username: <input type="text" name="username"> <br>
    <p>
    Password: <input type="password" name="password"> <br>
    <p>
    <input type="submit" name="button" value="Login">
</form>
<p>
If you do not have a username yet, you can <b><a href="/create_username">create new username here</b></a>.
{% endblock %}