{% extends "layout.html" %}
{% block title %}Create new user{% endblock %}
{% block content %}

<title>Projects page</title>
<h1>List of projects</h1>
Here is a list of all the projects that have been initiated.
<p>
<form action="/projects" method="POST">
<table>
  <tr>
    <th>Project ID</th>
    <th>Related product</th>
    <th>Proposed idea</th>
    <th>Project team name</th>
    <th>Start date</th>
    <th>Target completion date</th>
    <th>Completed (True=Yes/False=No)</th>
  </tr>
  {% for project in projects %}
  <tr>
    <td>{{ project[0] }}</td>
    <td>{{ project[1] }}</td>
    <td>{{ project[2] }}</td>
    <td>{{ project[3] }}</td>
    <td>{{ project[4] }}</td>
    <td>{{ project[5] }}</td>
    <td>{{ project[6] }}</td>
  </tr>
  {% endfor %}
</table>
</form>

{% endblock %}