{% extends "layout.html" %}
{% block title %}Projects page{% endblock %}
{% block content %}

<title>Projects page</title>
<h1>List of projects</h1>
Here is a list of all the projects that have been initiated.
<p>
<form action="/projects" method="POST">
If you wish to view a list of employees involved in various improvement projects, please click 
<input type="submit" value="HERE">
<p>
If you wish to view the team members of the various project teams, please click the project team name in below table.
<p>

<table>
  <tr>
    <th>Project ID</th>
    <th>Related product</th>
    <th>Proposed idea</th>
    <th>Project team name</th>
    <th>Start date</th>
    <th>Target completion date</th>
    <th>Completed (True=Yes/False=No)</th>
  </tr>
  {% for project in projects %}
  <tr>
    <td>{{ project[0] }}</td>
    <td>{{ project[1] }}</td>
    <td>{{ project[2] }}</td>
    <td><a href="/team_members/{{ project[8] }}">{{ project[3] }}</a></td>
    <td>{{ project[4] }}</td>
    <td>{{ project[5] }}</td>
    <td>{{ project[6] }}</td>
  </tr>
  {% endfor %}
</table>

<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

{% endblock %}