{% extends "layout.html" %}
{% block title %}Team selection{% endblock %}
{% block content %}

<title>Team selection</title>
<h1>Team selection</h1>
Create a new team for this project. Give it a <b>team name</b> and select the <b>team members</b> below.
<p>
<form action="/team_selection/{{idea_id}}" method="POST" onsubmit="return check(this)">
Team name: <input type="text" name="team_name" minlength="3" maxlength="30"> (3-30 characters)<br>
<p>
Here is a list of employees that you can select to the project team.
<p>
<table>
  <tr>
    <th>Selected</th>
    <th>First name</th>
    <th>Last name</th>
  </tr>
<div class="checkbox">
  {% for employee in empl %}
  <tr>
    <td><input type="checkbox" name="employee_list" value="{{ employee[0] }}"></td>
    <td>{{ employee[1] }}</td>
    <td>{{ employee[2] }}</td>
  </tr>
  {% endfor %}
</div>
</table>
<p>
<input type="submit" value="Confirm selection">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

<script>
    function check(form) {
        if (form.team_name.value.length < 3){
            alert("Team name must include at least three (3) characters.");
            return false;
        }
        return True;
    }
  </script>

{% endblock %}